= javascript_include_tag "views/slots/slots"
- provide(:title, t('title.manage_templates'))
#edit_slot_modal.modal.hide.fade.modal_window{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
    %h3#modalLabel
  %form#edit_slot  
    .modal-body
      .widget.widget-heading-simple.widget-body-white.body-white.scroll-popup
        .widget-body
          .control-group
            .row-fluid
              .span2
                %label.control-label{:for => "name"}
                  = t('slots.slot_name')
              .span10
                .input-append 
                  %input#name{name: "name", type: "text", autofocus: "", tabindex: "1"}
          .control-group
            .row-fluid
              .span2
                %label.control-label{:for => "description"}
                  = t('slots.description')
              .span10
                .input-append 
                  %textarea#description{name: "description", tabindex: "2"}
          %input#slot_id.input-mini{type: "hidden", value: ""}

            
      .modal-footer.center
        .control-group.center
          %button.btn.btn-icon.btn-primary.glyphicons.circle_ok{type: "submit", tabindex: "3"}
            = t('button.save')
            %i>

          %button.btn.btn-icon.btn-default.glyphicons.circle_remove{type: "button" ,"data-dismiss" => "modal", tabindex: "4"}
            = t('button.cancel')
            %i>
