#edit_user_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-content
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
      %h3#modalLabel
    %form#edit_user_pop_up
      .modal-body
        .widget.widget-heading-simple.widget-body-white
          .widget-body

            .form-group
              .row
                .col-sm-3
                  %label.control-label{:for => "full_name"}
                    = t('users.edit_user.full_name')
                .col-sm-9
                  %input#full_name.form-control{name: "full_name", type: "text", autofocus: "", tabindex: "1"}

            / .form-group
            /   .row
            /     .col-sm-3
            /       %label.control-label{:for => "password"}
            /         Password *
            /     .col-sm-9
            /       %input#password.form-control{name: "password", type: "password", autofocus: "", placeholder: "#{t('users.new_pop_up.password')}", tabindex: "2"}
            / .form-group
            /   .row
            /     .col-sm-3
            /       %label.control-label{:for => "password_confirmation"}
            /         Confirmation Password *
            /     .col-sm-9
            /       %input#password_confirmation.form-control{name: "password_confirmation", type: "password", autofocus: "", placeholder: "#{t('users.new_pop_up.confir_pass')}", tabindex: "3"}

            .form-group
              .row
                .col-sm-3
                  %label.control-label{:for => "email_address"}
                    = t('users.edit_user.email_address')
                .col-sm-9
                  %input#email_address.form-control{name: "email_address", type: "text", tabindex: "4"}

            .form-group
              .row
                .col-sm-3
                  %label.control-label{:for => "employee_id"}
                    = t('users.edit_user.employee_id')
                .col-sm-9
                  %input#employee_id.form-control{name: "employee_id", type: "text", tabindex: "5"}

            .form-group
              .row
                .col-sm-3
                  %label.control-label{:for => "career_path"}
                    = t('users.edit_user.career_path')
                .col-sm-9
                  %select#career_path.form-control{tabindex: "6"}
                    %option{value: "management"}
                      = t('users.edit_user.management')
                    %option{value: "technique"}
                      = t('users.edit_user.technique')
                      
            .form-group
              .row
                .col-sm-3
                  %label.control-label{:for => "role"}
                    Role *
                .col-sm-9
                  %select#role.form-control{tabindex: "6"}
                    = groups.each do |group|
                      %option{value: "#{group.id}"}
                        = group.name

            .form-group
              .row
                .col-sm-3
                  %label.control-label{:for => "staus"}
                    = t('users.edit_user.status')
                .col-sm-9
                  %select#status.form-control{tabindex: "7"}
                    %option{value: "true"}
                      = t('users.edit_user.active')
                    %option{value: "false"}
                      = t('users.edit_user.inactive')
            %input#user_id{name: "user_id", type: "hidden"}  
        .modal-footer.center
          .form-group.center
            %button#edit-user.btn.btn-icon.btn-primary.glyphicons.circle_ok{type: "submit", tabindex: "8", value: "create"}
              = t('button.save')
              %i
            %button.btn.btn-icon.btn-default.glyphicons.circle_remove{type: "button" , "data-dismiss" => "modal", tabindex: "9"}
              = t('button.cancel')
              %i
